
#title
{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ba2227+1,911a1c+40,6e1012+100&0.63+12,1+56 */
background: -moz-linear-gradient(left,  rgba(186,34,39,0.63) 1%, rgba(174,32,36,0.63) 12%, rgba(145,26,28,0.87) 40%, rgba(136,23,25,1) 56%, rgba(110,16,18,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(186,34,39,0.63) 1%,rgba(174,32,36,0.63) 12%,rgba(145,26,28,0.87) 40%,rgba(136,23,25,1) 56%,rgba(110,16,18,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(186,34,39,0.63) 1%,rgba(174,32,36,0.63) 12%,rgba(145,26,28,0.87) 40%,rgba(136,23,25,1) 56%,rgba(110,16,18,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1ba2227', endColorstr='#6e1012',GradientType=1 ); /* IE6-9 */

	height: 100px;  
	color:white;
	border-radius:5px;
}
#title h1, #title h4
{
	margin-right:5%;
	text-align:right;
}
#content
{
	padding:1%;
	border:3px solid #6d0e24;
	border-radius:5px;
}
#copyright
{
	text-align:center;
	font-size:60%;
}
.itemEducation
{
	padding-top:1%;
	padding-bottom:1%;
}
.itemEducation img
{
	text-align:center;
}
.jobtitle
{
	margin-left:2%;
	margin-right:2%;
}

